
<!-- Section: wallet basic info -->
<section class="mb-4">
  <div class="card">
    <div class="card-header py-3">
      <h5 class="mb-0 text-center"><strong>Basic Info</strong></h5>
    </div>
    <div class="card-body">
      <div class="container">
        <!-- 受け取りアドレスの表示 -->
        <div class="row mt-2">
          <div class="col-sm-2">address:</div>
          <div class="col-sm-6"><strong><%= @receive_address %></strong></div>
          <div class="col-sm-4">
            <%=button_to "アドレス生成", {controller: 'home', action: 'create_receive_address'}, {method: :post, class: "btn btn-outline-primary"} %>
          </div>
        </div>

        <!-- 残高の表示 -->
        <div class="row mt-2">
          <div class="col-sm-2">balance:</div>
          <div class="col-sm-4 border-bottom">
            <h4>
            <%= tpcbalance %>
            </h4>
          </div>
          <div class="col-sm-4">TPC</div>
        </div>

        <!-- wallet idの表示 -->
        <div class="row mt-2">
          <div class="col-sm-2">wallet_id:</div>
          <div class="col-sm-8"><%= current_user.wallet_id %></div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Section: Wallet basic info -->

<!-- Section: Payment -->
<section class="mb-4">
  <div class="card">
    <div class="card-header text-center py-3">
      <h5 class="mb-0 text-center">
        <strong>Payment</strong>
      </h5>
    </div>
    <div class="card-body">
      <div class="container">

        <%= form_for "payment", :url => home_payment_path, :method => :post, :html => {:class => ""} do |f| %>
        <!-- 支払い先アドレスとTPCを入力するフォームを表示 -->
        <div class="row mt-2">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Address</span>
            <%= f.text_field :address, type: "address", class: "form-control", id: "address", placeholder: "Address" %>
          </div>
        </div>
        <div class="row mt-2">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">TPC</span>
            <%= f.text_field :amount, type: "number", step: "any", class: "form-control", id: "amount", placeholder: "Sending amount" %>
          </div>
        </div>
        <%= f.submit "送金", class: "btn btn-default btn-outline-primary" %>

        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- Section: Block Info -->

<!-- Section: Block Info -->
<section class="mb-4">
  <div class="card">
    <div class="card-header text-center py-3">
      <h5 class="mb-0 text-center">
        <strong>Block Info</strong>
      </h5>
    </div>
    <div class="card-body">
      <div class="container">

        <!-- Block heightの表示と生成 -->
        <div class="row mt-2">
          <div class="col-sm-4">block height:</div>
          <div class="col-sm-4"><h5><%= @block_height %> (synced: <%= @sync_block %>)</h5></div>
          <div class="col-sm-4">
            <%=button_to "ブロック生成", {controller: 'home', action: 'generate'}, {method: :post, class: "btn btn-outline-success"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Block Info -->

<!-- Section: UTXO List -->
<section class="mb-4">
  <div class="card">
    <div class="card-header text-center py-3">
      <h5 class="mb-0 text-center">
        <strong>UTXO List</strong>
      </h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover text-nowrap">
          <thead>
          <tr>
            <th scope="col">Transaction id</th>
            <th scope="col">Amount</th>
            <th scope="col">vout</th>
            <th scope="col">Receive Address</th>
            <th scope="col">Finalized</th>
          </tr>
          </thead>
          <tbody>
          <!-- include utxo list partial -->
          <%= render partial: "utxo", collection: @utxos  %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- Section: UTXO List -->
